<!-- ## PAGE HEADER ## -->
<header id="qcTabTitle" class="qcContainer clearfix">
  <!-- ## PAGE TITLE ## -->
  <div class="col-4 col">
    <p>Frequently asked questions</p>
    <h1>FAQ's</h1>
  </div>
  <!-- ## PAGE DESC ## -->
  <div class="col-8 col">
    <p class="qcTabDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, amet, natus autem doloremque alias ducimus eum minima accusamus iste nihil veritatis eius voluptatum temporibus ullam consequatur velit aspernatur. Molestiae, quasi.</p>
  </div>
</header>


<!-- ## PAGE CONTENT ## -->
<div class="hentry qcContainer">

  <!-- ## FAQ LIST ## -->
  <ul id="qcFaqList">

    <!-- ## FAQ 1 ## -->
    <li class="toggle">
      <div class="qcFaqHead">
        <div>1</div>
        <div>Can I buy cash credits instead of refund ?</div>
      </div>
      <div class="qcTogContent">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, atque, corrupti commodi hic laborum totam sint quis eveniet sed animi obcaecati nam doloribus nulla in debitis error pariatur laboriosam perferendis!</p>
      </div>
    </li>

    <!-- ## FAQ 2 ## -->
    <li class="toggle">
      <div class="qcFaqHead">
        <div>2</div>
        <div>Where to collect wristband for event ticket in the vicinity ?</div>
      </div>
      <div class="qcTogContent">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, atque, corrupti commodi hic laborum totam sint quis eveniet sed animi obcaecati nam doloribus nulla in debitis error pariatur laboriosam perferendis!</p>
      </div>
    </li>

    <!-- ## FAQ 3 ## -->
    <li class="toggle">
      <div class="qcFaqHead">
        <div>3</div>
        <div>natus autem doloremque alias ducimus eum minima accusamus ?</div>
      </div>
      <div class="qcTogContent">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, atque, corrupti commodi hic laborum totam sint quis eveniet sed animi obcaecati nam doloribus nulla in debitis error pariatur laboriosam perferendis!</p>
      </div>
    </li>

    <!-- ## FAQ 4 ## -->
    <li class="toggle">
      <div class="qcFaqHead">
        <div>4</div>
        <div>Where to collect wristband for event ticket in the vicinity ?</div>
      </div>
      <div class="qcTogContent">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, atque, corrupti commodi hic laborum totam sint quis eveniet sed animi obcaecati nam doloribus nulla in debitis error pariatur laboriosam perferendis!</p>
      </div>
    </li>

    <!-- ## FAQ 5 ## -->
    <li class="toggle">
      <div class="qcFaqHead">
        <div>5</div>
        <div>natus autem doloremque alias ducimus eum minima accusamus ?</div>
      </div>
      <div class="qcTogContent">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, atque, corrupti commodi hic laborum totam sint quis eveniet sed animi obcaecati nam doloribus nulla in debitis error pariatur laboriosam perferendis!</p>
      </div>
    </li>

  </ul>
  <!-- ## FAQ LIST END ## -->

</div>
<!-- ## PAGE CONTENT END ## -->


<!-- ## PAGE WIDGET ## -->
<div id="qcWidgets">
  <div class="qcContainer clearfix">
    <div class="widget">
      <p class="qcWidgetTitle">Subscribe to our newsletter</p>

      <!-- ## SUBSCRIBE WIDGET ## -->
      <div id="qcSubscribeWidget">
        <form action="#">
          <input type="text" value="" placeholder="Enter your email id..."/>
          <input type="submit" value="Subscribe" />
        </form>
        <p>NOTE: We respect your privacy & do not share your email id with 3rd party companies Or send you spams.</p>
      </div>

    </div>
  </div>
</div>
<!-- ## PAGE WIDGETS END ## -->
