<!-- ## FOOTER ## -->
<footer id="qcPriFooter">
  <nav>
    <div class="qcContainer clearfix">
      <!-- ## FOOTER LOGO ## -->
      <div class="col-3 col">
        <div id="qcFooterLogo">
          <h2>Supersonic</h2>
        </div>
      </div>
      <!-- ## FOOTER NAV ## -->
      <div class="col-6 col">
        <ul class="clearfix">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">T&C</a></li>
          <li><a href="#">Disclaimers</a></li>
        </ul>
      </div>
      <!-- ## FOOTER SOCIAL ## -->
      <div class="col-3 col">
        <ul id="qcFooterSocial" class="clearfix">
          <li><a href="#" class="tips" title="FACEBOOK"><i class="icon-facebook icon"></i></a></li>
          <li><a href="#" class="tips" title="TWITTER"><i class="icon-twitter icon"></i></a></li>
          <li><a href="#" class="tips" title="SOUNDCLOUD"><i class="icon-soundcloud icon"></i></a></li>
          <li><a href="#" class="tips" title="GITHUB"><i class="icon-github icon"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="extra">
    <!-- ## FOOTER COPYRIGHTS ## -->
    <div class="qcContainer clearfix">
      <div class="disclaimer col-6 col">Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipisicing elit. Ullam, modi, repellendus excepturi commodi aperiam <i>numquam</i> quos dolores.</div>
      <div class="copyrights col-6 col">
        ©Copyrights <a href="#">QuadCodes</a> 2016 <br /> All rights reserved
      </div>
    </div>
  </div>
</footer>
<!-- ## FOOTER END ## -->
