<!-- ## PAGE HEADER ## -->
<header id="qcTabTitle" class="qcContainer clearfix">
  <!-- ## PAGE TITLE ## -->
  <div class="col-4 col">
    <p>Memories from the past</p>
    <h1>Gallery</h1>
  </div>
  <!-- ## PAGE DESC ## -->
  <div class="col-8 col">
    <p class="qcTabDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, amet, natus autem doloremque alias ducimus eum minima accusamus iste nihil veritatis eius voluptatum temporibus ullam consequatur velit aspernatur. Molestiae, quasi.</p>
  </div>
</header>


<!-- ## PAGE CONTENT ## -->
<div class="hentry qcContainer">

  <!-- ## GALLERY LIST ## -->
  <ul id="qcImgGallery" class="masonry clearfix">
    <li>
      <a href="http://placehold.it/800x400" class="tips video" title="IMAGE 1" data-rel="prettyPhoto[pp_gal]">
        <img src="http://placehold.it/300x350" alt="IMAGE 1"/>
      </a>
    </li>
    <li>
      <a href="http://placehold.it/800x400" class="tips" title="IMAGE 2" data-rel="prettyPhoto[pp_gal]">
        <img src="http://placehold.it/300x450" alt="IMAGE 2"/>
      </a>
    </li>
    <li>
      <a href="http://placehold.it/800x400" class="tips" title="IMAGE 3" data-rel="prettyPhoto[pp_gal]">
        <img src="http://placehold.it/300x250" alt="IMAGE 3"/>
      </a>
    </li>
    <li>
      <a href="http://placehold.it/800x400" class="tips" title="IMAGE 4" data-rel="prettyPhoto[pp_gal]">
        <img src="http://placehold.it/300x500" alt="IMAGE 4"/>
      </a>
    </li>
    <li>
      <a href="http://placehold.it/800x400" class="tips video" title="IMAGE 5" data-rel="prettyPhoto[pp_gal]">
        <img src="http://placehold.it/300x350" alt="IMAGE 5"/>
      </a>
    </li>
    <li>
      <a href="http://placehold.it/800x400" class="tips" title="IMAGE 6"  data-rel="prettyPhoto[pp_gal]">
        <img src="http://placehold.it/300x250" alt="IMAGE 6"/>
      </a>
    </li>
    <li>
      <a href="http://placehold.it/800x400" class="tips video" title="IMAGE 7" data-rel="prettyPhoto[pp_gal]">
        <img src="http://placehold.it/300x450" alt="IMAGE 7"/>
      </a>
    </li>
    <li>
      <a href="http://placehold.it/800x400" class="tips video" title="IMAGE 8" data-rel="prettyPhoto[pp_gal]">
        <img src="http://placehold.it/300x250" alt="IMAGE 8"/>
      </a>
    </li>
    <li>
      <a href="http://placehold.it/800x400" class="tips" title="IMAGE 9" data-rel="prettyPhoto[pp_gal]">
        <img src="http://placehold.it/300x350" alt="IMAGE 9"/>
      </a>
    </li>
    <li>
      <a href="http://placehold.it/800x400" class="tips" title="IMAGE 10" data-rel="prettyPhoto[pp_gal]">
        <img src="http://placehold.it/300x450" alt="IMAGE 10"/>
      </a>
    </li>
    <li>
      <a href="http://placehold.it/800x400" class="tips" title="IMAGE 11" data-rel="prettyPhoto[pp_gal]">
        <img src="http://placehold.it/300x300" alt="IMAGE 11"/>
      </a>
    </li>
    <li>
      <a href="http://placehold.it/800x400" class="tips" title="IMAGE 12" data-rel="prettyPhoto[pp_gal]">
        <img src="http://placehold.it/300x200" alt="IMAGE 12"/>
      </a>
    </li>
  </ul>
  <!-- ## GALLERY LIST END ## -->

</div>
<!-- ## PAGE CONTENT END ## -->


<!-- ## PAGE WIDGET ## -->
<div id="qcWidgets">
  <div class="qcContainer clearfix">
    <div class="widget">
      <p class="qcWidgetTitle">Subscribe to our newsletter</p>

      <!-- ## SUBSCRIBE WIDGET ## -->
      <div id="qcSubscribeWidget">
        <form action="#">
          <input type="text" value="" placeholder="Enter your email id..."/>
          <input type="submit" value="Subscribe" />
        </form>
        <p>NOTE: We respect your privacy & do not share your email id with 3rd party companies Or send you spams.</p>
      </div>

    </div>
  </div>
</div>
<!-- ## PAGE WIDGETS END ## -->
