<!-- ## SITE NAV ## -->
<aside id="qcSiteNav">
  <div class="box">
    <h4>Navigation</h4>
    <ul id="qcPriNav">
      <li><a href="index.html">Home</a></li>
      <li class="active"><a href="#">Event</a>
        <!-- ## SUBMENU ## -->
        <ul>
          <li [class.active]="isCurrentRoute(['Schedule'])"><a [routerLink]="['Schedule']">Schedule</a></li>
          <li [class.active]="isCurrentRoute(['Speakers'])"><a [routerLink]="['Speakers']">Speakers</a></li>
          <li [class.active]="isCurrentRoute(['Venue'])"><a [routerLink]="['Venue']">Venue</a></li>
          <li [class.active]="isCurrentRoute(['Gallery'])"><a [routerLink]="['Gallery']">Gallery</a></li>
          <li [class.active]="isCurrentRoute(['Tickets'])"><a [routerLink]="['Tickets']">Tickets</a></li>
          <li [class.active]="isCurrentRoute(['Faq'])"><a [routerLink]="['Faq']">FAQ's</a></li>
        </ul>
      </li>
      <li><a href="about.html">About</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="#">Login / Signup</a></li>
    </ul>
    <div id="qcCloseNav"></div>
  </div>
</aside>
<!-- ## SITE NAV END ## -->

<!-- ## PRIMARY HEADER ## -->
<header id="qcHeader">
  <div class="qcContainer clearfix">
    <div id="qcNavLogo" class="col-6 col">
      <a href="index.html">
        <img src="./assets/img/placeholder/logo.png" alt="LOGO" />
      </a>
    </div>
    <div class="col-6 col">
      <div id="qcOpenNav" class="tips" title="NAVIGATION"></div>
    </div>
  </div>
</header>

<!-- ## MOB NAV ## -->
<div class="qcContainer clearfix">
  <div id="qcMbTrigger"></div>
</div>

<!-- ## SUBTAB NAV ## -->
<ul id="qcTabNav" class="qcContainer clearfix">
  <li [class.active]="isCurrentRoute(['Schedule'])"><a [routerLink]="['Schedule']"><i class="menu-icon-calendar icon"></i> <span>Schedule</span></a></li>
  <li [class.active]="isCurrentRoute(['Speakers'])"><a [routerLink]="['Speakers']"><i class="menu-icon-user icon"></i> <span>Speakers</span></a></li>
  <li [class.active]="isCurrentRoute(['Venue'])"><a [routerLink]="['Venue']"><i class="menu-icon-shop icon"></i> <span>Venue</span></a></li>
  <li [class.active]="isCurrentRoute(['Gallery'])"><a [routerLink]="['Gallery']"><i class="menu-icon-photo icon"></i> <span>Gallery</span></a></li>
  <li [class.active]="isCurrentRoute(['Tickets'])"><a [routerLink]="['Tickets']"><i class="menu-icon-money icon"></i> <span>Tickets</span></a></li>
  <li [class.active]="isCurrentRoute(['Faq'])"><a [routerLink]="['Faq']"><i class="menu-icon-globe icon"></i> <span>FAQ's</span></a></li>
</ul>
