<!-- ## PAGE HEADER ## -->
<header id="qcTabTitle" class="qcContainer clearfix">
  <!-- ## PAGE TITLE ## -->
  <div class="col-4 col">
    <p>Official Schedule for the event</p>
    <h1>Schedule</h1>
  </div>
  <!-- ## PAGE DESC ## -->
  <div class="col-8 col">
    <p class="qcTabDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, amet, natus autem doloremque alias ducimus eum minima accusamus iste nihil veritatis eius voluptatum temporibus ullam consequatur velit aspernatur. Molestiae, quasi.</p>
  </div>
</header>


<!-- ## PAGE CONTENT ## -->
<div class="hentry qcContainer">

  <!-- ## PAGE CONTENT TABS ## -->
  <div id="qcPageContentTabs" class="qcScheduleTabs clearfix">

    <!-- ## TAB LINKS ## -->
    <ul class="clearfix">
      <li [class.active]="currentTab == 'day1'">
        <a (click)="selectDay('day1')">Day 1</a>
      </li>
      <li [class.active]="currentTab == 'day2'">
        <a (click)="selectDay('day2')">Day 2</a>
      </li>
      <li [class.active]="currentTab == 'day3'">
        <a (click)="selectDay('day3')">Day 3</a>
      </li>
    </ul>

      <!-- ## TAB 1 ## -->
      <div *ngIf="currentTab == 'day1'" id="tab-1">
        <div class="box">

          <!-- ## TAB 1 META ## -->
          <div class="qcTabHead clearfix">
            <div class="col-6 col">
              <i class="icon-calendar-1 icon"></i> 14 March 2016 / Monday
            </div>
            <div class="col-6 col">
              <i class="icon-location-1 icon"></i> Town Hall
            </div>
          </div>

          <!-- ## TAB 1 SCHEDULE LIST ## -->
        <ul class="qcScheduleList">
          <li class="no-toggle">
            <p class="time">08:30 AM - 9:00 AM</p>
            <h3>Registration</h3>
          </li>
          <li class="toggle">
            <div class="clearfix">
              <div class="col-9 col">
                <p class="time">9:00 AM - 10:30 AM</p>
                <h3>Introduction</h3>
              </div>
              <div class="col-3 col">
                <p class="speakers">Speakers</p>
                <ul class="qcSchSpeakers clearfix">
                  <li>
                    <a href="#" class="tips" title="JOHN DOE">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#" class="tips" title="SAMANTHA JOHNS">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#" class="tips" title="PATRICK SIMPSON">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#" class="tips" title="RICKY MARTIN">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="qcTogContent">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, atque, corrupti commodi hic laborum totam sint quis eveniet sed animi obcaecati nam doloribus nulla in debitis error pariatur laboriosam perferendis!</p>
            </div>
          </li>
          <li class="toggle">
            <div class="clearfix">
              <div class="col-9 col">
                <p class="time">9:00 AM - 10:30 AM</p>
                <h3>History</h3>
              </div>
              <div class="col-3 col">
                <p class="speakers">Speakers</p>
                <ul class="qcSchSpeakers clearfix">
                  <li>
                    <a href="#" class="tips" title="RICKY MARTIN">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#" class="tips" title="PATRICK SIMPSON">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="qcTogContent">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, atque, corrupti commodi hic laborum totam sint quis eveniet sed animi obcaecati nam doloribus nulla in debitis error pariatur laboriosam perferendis!</p>
            </div>
          </li>
          <li class="no-toggle">
            <p class="time">10:30 AM - 10:15 AM</p>
            <h3>Tea Break</h3>
          </li>
          <li class="toggle">
            <div class="clearfix">
              <div class="col-9 col">
                <p class="time">9:00 AM - 10:30 AM</p>
                <h3>Philosophy</h3>
              </div>
              <div class="col-3 col">
                <p class="speakers">Speakers</p>
                <ul class="qcSchSpeakers clearfix">
                  <li>
                    <a href="#" class="tips" title="SAMANTHA JOHNS">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#" class="tips" title="PATRICK SIMPSON">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#" class="tips" title="RICKY MARTIN">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="qcTogContent">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, atque, corrupti commodi hic laborum totam sint quis eveniet sed animi obcaecati nam doloribus nulla in debitis error pariatur laboriosam perferendis!</p>
            </div>
          </li>
        </ul>
        <!-- ## TAB 1 SCHEDULE LIST END ## -->

      </div>
      </div>

      <!-- ## TAB 2 ## -->
    <div *ngIf="currentTab == 'day2'" id="tab-2">
      <div class="box">

          <!-- ## TAB 2 META ## -->
          <div class="qcTabHead clearfix">
            <div class="col-6 col">
              <i class="icon-calendar-1 icon"></i> 15 March 2016 / Tuesday
            </div>
            <div class="col-6 col">
              <i class="icon-location-1 icon"></i> City Centre
            </div>
          </div>

          <!-- ## TAB 2 SCHEDULE LIST ## -->
        <ul class="qcScheduleList">
          <li class="no-toggle">
            <p class="time">08:30 AM - 9:00 AM</p>
            <h3>Registration</h3>
          </li>
          <li class="toggle">
            <div class="clearfix">
              <div class="col-9 col">
                <p class="time">9:00 AM - 10:30 AM</p>
                <h3>Introduction</h3>
              </div>
              <div class="col-3 col">
                <p class="speakers">Speakers</p>
                <ul class="qcSchSpeakers clearfix">
                  <li>
                    <a href="#" class="tips" title="JOHN DOE">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#" class="tips" title="SAMANTHA JOHNS">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#" class="tips" title="PATRICK SIMPSON">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#" class="tips" title="RICKY MARTIN">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="qcTogContent">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, atque, corrupti commodi hic laborum totam sint quis eveniet sed animi obcaecati nam doloribus nulla in debitis error pariatur laboriosam perferendis!</p>
            </div>
          </li>
          <li class="toggle">
            <div class="clearfix">
              <div class="col-9 col">
                <p class="time">9:00 AM - 10:30 AM</p>
                <h3>History</h3>
              </div>
              <div class="col-3 col">
                <p class="speakers">Speakers</p>
                <ul class="qcSchSpeakers clearfix">
                  <li>
                    <a href="#" class="tips" title="RICKY MARTIN">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#" class="tips" title="PATRICK SIMPSON">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="qcTogContent">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, atque, corrupti commodi hic laborum totam sint quis eveniet sed animi obcaecati nam doloribus nulla in debitis error pariatur laboriosam perferendis!</p>
            </div>
          </li>
          <li class="no-toggle">
            <p class="time">10:30 AM - 10:15 AM</p>
            <h3>Tea Break</h3>
          </li>
          <li class="toggle">
            <div class="clearfix">
              <div class="col-9 col">
                <p class="time">9:00 AM - 10:30 AM</p>
                <h3>Philosophy</h3>
              </div>
              <div class="col-3 col">
                <p class="speakers">Speakers</p>
                <ul class="qcSchSpeakers clearfix">
                  <li>
                    <a href="#" class="tips" title="SAMANTHA JOHNS">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#" class="tips" title="PATRICK SIMPSON">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#" class="tips" title="RICKY MARTIN">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="qcTogContent">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, atque, corrupti commodi hic laborum totam sint quis eveniet sed animi obcaecati nam doloribus nulla in debitis error pariatur laboriosam perferendis!</p>
            </div>
          </li>
        </ul>
        <!-- ## TAB 2 SCHEDULE LIST END ## -->

      </div>
    </div>

    <!-- ## TAB 3 ## -->
    <div *ngIf="currentTab == 'day3'" id="tab-3">
      <div class="box">

          <!-- ## TAB 3 META ## -->
          <div class="qcTabHead clearfix">
            <div class="col-6 col">
              <i class="icon-calendar-1 icon"></i> 16 March 2016 / Wednesday
            </div>
            <div class="col-6 col">
              <i class="icon-location-1 icon"></i> Phoenix Mall
            </div>
          </div>

          <!-- ## TAB 3 SCHEDULE LIST ## -->
        <ul class="qcScheduleList">
          <li class="no-toggle">
            <p class="time">08:30 AM - 9:00 AM</p>
            <h3>Registration</h3>
          </li>
          <li class="toggle">
            <div class="clearfix">
              <div class="col-9 col">
                <p class="time">9:00 AM - 10:30 AM</p>
                <h3>Introduction</h3>
              </div>
              <div class="col-3 col">
                <p class="speakers">Speakers</p>
                <ul class="qcSchSpeakers clearfix">
                  <li>
                    <a href="#" class="tips" title="JOHN DOE">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#" class="tips" title="SAMANTHA JOHNS">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#" class="tips" title="PATRICK SIMPSON">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#" class="tips" title="RICKY MARTIN">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="qcTogContent">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, atque, corrupti commodi hic laborum totam sint quis eveniet sed animi obcaecati nam doloribus nulla in debitis error pariatur laboriosam perferendis!</p>
            </div>
          </li>
          <li class="toggle">
            <div class="clearfix">
              <div class="col-9 col">
                <p class="time">9:00 AM - 10:30 AM</p>
                <h3>History</h3>
              </div>
              <div class="col-3 col">
                <p class="speakers">Speakers</p>
                <ul class="qcSchSpeakers clearfix">
                  <li>
                    <a href="#" class="tips" title="RICKY MARTIN">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#" class="tips" title="PATRICK SIMPSON">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="qcTogContent">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, atque, corrupti commodi hic laborum totam sint quis eveniet sed animi obcaecati nam doloribus nulla in debitis error pariatur laboriosam perferendis!</p>
            </div>
          </li>
          <li class="no-toggle">
            <p class="time">10:30 AM - 10:15 AM</p>
            <h3>Tea Break</h3>
          </li>
          <li class="toggle">
            <div class="clearfix">
              <div class="col-9 col">
                <p class="time">9:00 AM - 10:30 AM</p>
                <h3>Philosophy</h3>
              </div>
              <div class="col-3 col">
                <p class="speakers">Speakers</p>
                <ul class="qcSchSpeakers clearfix">
                  <li>
                    <a href="#" class="tips" title="SAMANTHA JOHNS">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#" class="tips" title="PATRICK SIMPSON">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                  <li>
                    <a href="#" class="tips" title="RICKY MARTIN">
                      <img src="http://placehold.it/100x100" alt="" />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="qcTogContent">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, atque, corrupti commodi hic laborum totam sint quis eveniet sed animi obcaecati nam doloribus nulla in debitis error pariatur laboriosam perferendis!</p>
            </div>
          </li>
        </ul>
        <!-- ## TAB 3 SCHEDULE LIST END ## -->

      </div>
    </div>

  </div>
  <!-- ## PAGE CONTENT TABS END ## -->

</div>
<!-- ## PAGE CONTENT END ## -->
