<!-- ## PAGE HEADER ## -->
<header id="qcTabTitle" class="qcContainer clearfix">
  <!-- ## PAGE TITLE ## -->
  <div class="col-4 col">
    <h1>Attendees</h1>
  </div>
  <!-- ## PAGE DESC ## -->
  <div class="col-8 col">
    <p class="qcTabDesc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, amet, natus autem doloremque alias ducimus eum minima accusamus iste nihil veritatis eius voluptatum temporibus ullam consequatur velit aspernatur. Molestiae, quasi.</p>
  </div>
</header>
<div class="col-4 col">
</div>
<div class="col-8 col">
  <spinner [visible]="isLoading"></spinner>
  <table *ngIf="attendees" >
    <tr>
      <td><h1>Total Number of Attendees: </h1></td>
      <td><h1>{{ attendees?.orders?.length }}</h1></td>
    </tr>
  </table>

</div>


<div class="hentry qcContainer speakers">


  <!-- ## POST CONTENT ## -->
  <p class="qcPostContent padded">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, harum odio ratione quos eius vel repellat quam accusantium consequatur dolore vitae voluptate perferendis minima suscipit illo porro commodi asperiores fugiat.</p>

</div>
<!-- ## PAGE CONTENT END ## -->
