<!-- ## PAGE WIDGET ## -->
<div id="qcWidgets">
  <div class="qcContainer clearfix">
    <div class="widget">
      <p class="qcWidgetTitle">Our Sponsors - Those helping hands</p>

      <!-- ## SPONSORS WIDGET ## -->
      <ul class="qcSposnsorList clearfix">
        <li>
          <a href="#" class="tips" title="INTRODUCTION">
            <img src="http://placehold.it/150x50?text=SPONSOR 1" alt="" />
          </a>
        </li>
        <li>
          <a href="#" class="tips" title="INTRODUCTION">
            <img src="http://placehold.it/150x50?text=SPONSOR 2" alt="" />
          </a>
        </li>
        <li>
          <a href="#" class="tips" title="INTRODUCTION">
            <img src="http://placehold.it/150x50?text=SPONSOR 3" alt="" />
          </a>
        </li>
        <li>
          <a href="#" class="tips" title="INTRODUCTION">
            <img src="http://placehold.it/150x50?text=SPONSOR 4" alt="" />
          </a>
        </li>
        <li>
          <a href="#" class="tips" title="INTRODUCTION">
            <img src="http://placehold.it/150x50?text=SPONSOR 5" alt="" />
          </a>
        </li>
        <li>
          <a href="#" class="tips" title="INTRODUCTION">
            <img src="http://placehold.it/150x50?text=SPONSOR 6" alt="" />
          </a>
        </li>
        <li>
          <a href="#" class="tips" title="INTRODUCTION">
            <img src="http://placehold.it/150x50?text=SPONSOR 7" alt="" />
          </a>
        </li>
      </ul>
      <!-- ## SPONSERS WIDGET END ## -->

    </div>
  </div>
</div>
<!-- ## PAGE WIDGETS END ## -->
